{% extends 'theme.html' %}
{% load static %}
{% block 'content' %}

<!-- Start Bradcaump area -->
<div id="carouselExampleIndicators" class="carousel slide" style='margin-top:15vh' data-ride="carousel">
	<!-- <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'theme/images/banner5.jpg' %}" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'theme/images/banner6.jpg' %}" alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'theme/images/banner3.jpg' %}" alt="Third slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a> -->
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="bradcaump__inner text-center">
				<nav class="bradcaump-content">
					<a class="breadcrumb_item" href="{% url 'books' %}">Books</a>
					<span class="brd-separetor">/</span>
					<span class="breadcrumb_item active">Shop Single</span>
				</nav>
			</div>
		</div>
	</div>
</div>
</div>

{% if messages %}

	{% for message in messages %}

		<script>
			toastr["{{message.tags}}"]("{{message}}");
		</script>

	{% endfor %}

{% endif %}
	
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="wn__single__product">

					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="wn__fotorama__wrapper">
								<div class="fotorama wn__fotorama__action" data-nav="thumbs">

									{% for image in books.image.all %}

									<a href="1.jpg"><img src="{{image.url.url}}" alt=""></a>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-12">
							<div class="product__info__main">


								<!-- add to cart form -->
								<form action="{% url 'add_cart' books.id %}" method="POST">
									{% csrf_token %}
									<h1>{{books.title}}</h1>
									<div class="product-info-stock-sku d-flex">
										<p>Availability:<span> In stock</span></p>
										<p>SKU:<span> MH01</span></p>
									</div>
									<div class="product-reviews-summary d-flex">
										<ul class="rating-summary d-flex">
											<li><i class="zmdi zmdi-star-outline"></i></li>
											<li><i class="zmdi zmdi-star-outline"></i></li>
											<li><i class="zmdi zmdi-star-outline"></i></li>
											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
										</ul>
										<div class="reviews-actions d-flex">
											<a href="#">(1 Review)</a>
											<a href="#">Add Your Review</a>
										</div>
									</div>
									<div class="price-box">
										<strong class="text-primary">PAPERBACK</strong>
										<span>Rs. {{ books.price}}</span>
									</div>
									
									{% if books.book_variation.first %}										
										<div class="variation_price">
											<strong class="text-primary">E-BOOK</strong>
											<span>Rs. {{ books.book_variation.first.price}}</span>
										</div>
									

									<div class="product-color-label">
										<div class="color__attribute d-flex">
											<div class="">
												<span>Select Type</span>
												<select name="type" class="form-control" id="">
													<option value="" desabled selected>Choose a option</option>
													{% for variation in books.book_variation.all %}
													<option value="{{ variation.variation_type }}">{{variation.variation_type }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										
									</div>
									{% endif %}
									<div class="box-tocart d-flex">
										<span>Qty</span>
										<input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty"
											type="number">
										<div class="addtocart__actions">

											<button class="tocart">Add to Cart</button>
										</div>
									</div>
								</form>
								<!-- add to cart form end -->

								<div class="product-addto-links clearfix">
									<a class="wishlist" href="{% url 'add_to_wishlist' books.id %}"></a>
									<a class="compare" href="#"></a>
									<a class="email" href="#"></a>
								</div>
								<div class="product__overview">
									<p>{{books.description}}</p>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product__info__detailed">
					<div class="pro_details_nav nav justify-content-start" role="tablist">
						<a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
						<a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
					</div>
					<div class="tab__container">
						<!-- Start Single Tab Content -->
						<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
							<div class="description__attribute">
								<p>{{books.description}}</p>

							</div>
						</div>
						<!-- End Single Tab Content -->
						<!-- Start Single Tab Content -->
						
						
						<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
							<h3>Customer Reviews</h3>

							{% for review in books.review.all %}

							<div class="review__attribute m-3">
								
								<h4>{{review.title}}</h4>
								<p>{{review.review_text}}</p>
								<b>Review by: {{review.user.first_name}}</b>
							
							</div>
							{% endfor %}
							
							{% if request.user.is_authenticated %}
								
							
							<form action="{% url 'book_review' books.id %}" method="POST">
								{% csrf_token %}
							<div class="review-fieldset col-6">
								<h2>Write Review</h2>
								<div class="review-field-ratings">
									<div class="product-review-table">
										<!-- <div class="review-field-rating d-flex">
											<span>Quality</span>
											<ul class="rating d-flex">
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
											</ul>
										</div> -->

					
									</div>
								</div>
								<div class="review_form_field">
									<div class="input__box">
										<span>Summary</span>
										{{form.title}}
									</div>
									<div class="input__box">
										<span>Review</span>
										{{form.review_text}}
									</div>
									<div class="review-form-actions">
										<button type='submit'>Submit Review</button>
									</div>
								</div>
							</div>
							</form>
							{% else %}
							<a href="">You must signin for write review</a>
							{% endif %}

						</div>
						<!-- End Single Tab Content -->
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
</div>
<!-- End main Content -->
<!-- Start Search Popup -->
<div class="box-search-content search_active block-bg close__top">
	<form id="search_mini_form--2" class="minisearch" action="#">
		<div class="field__search">
			<input type="text" placeholder="Search entire store here...">
			<div class="action">
				<a href="#"><i class="zmdi zmdi-search"></i></a>
			</div>
		</div>
	</form>
	<div class="close__wrap">
		<span>close</span>
	</div>
</div>
<!-- End Search Popup -->
{% endblock 'content' %}