{% extends 'theme.html' %}
{% load static %}
{% block 'content' %}
<style>
	.thumbnail {
		margin-bottom: 10px;
	}

	.thumbnail img {
		width: 100%;
		cursor: pointer;
	}

	.main-image img {
		width: 100%;
		max-height: 500px;
		object-fit: contain;
		cursor: pointer;
	}

	@media (max-width: 767px) {
		.main-image img {
			max-height: 300px;
		}
	}

	@media (min-width: 768px) {
		.main-image {
			height: 500px;
		}
	}

	.modal-content {
		text-align: center;
	}

	.modal-content img {
		max-width: 100%;
		max-height: 500px;
		object-fit: contain;
	}
</style>


<!-- Start Bradcaump area -->
<div id="carouselExampleIndicators" class="carousel slide" style='margin-top:15vh' data-ride="carousel">
	<!-- <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'theme/images/banner5.jpg' %}" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'theme/images/banner6.jpg' %}" alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'theme/images/banner3.jpg' %}" alt="Third slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a> -->
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="bradcaump__inner text-center">
				<nav class="bradcaump-content">
					<a class="breadcrumb_item" href="{% url 'books' %}">Books</a>
					<span class="brd-separetor">/</span>
					<span class="breadcrumb_item active">Shop Single</span>
				</nav>
			</div>
		</div>
	</div>
</div>
</div>

{% if messages %}

{% for message in messages %}

<script>
	toastr["{{message.tags}}"]("{{message}}");
</script>

{% endfor %}

{% endif %}

<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="wn__single__product">

					<div class="row">
						<div class="col-lg-6 col-md-12">
							<!-- Product Gallery -->
							<!-- Main Product Image -->
							<div class="row">
								<!-- Small Thumbnails -->
								
								{% if books.image.all|slice:"1:" %}
								
									
								<div class="col-sm-3 d-none d-lg-block ">
									<div class="row">
										{% for image in books.image.all|slice:"1:" %}
										<div class="col-12 m-2">
											<a href="#" data-toggle="modal" data-target="#productGalleryModal">
												<img src="{{ image.url.url }}" class="img-fluid rounded thumb-img">
											</a>
										</div>
										{% endfor %}
									</div>
								</div>
								{% endif %}
								<div class="col-sm-9 text-center">
									<a href="#" data-toggle="modal" data-target="#productGalleryModal">
										<img src="{{ books.image.first.url.url }}" width="80%"
											class="img-fluid rounded main-img">
									</a>
								</div>

							</div>

							<!-- Small Thumbnails for Mobile View -->
							{% if books.image.all|slice:"1:" %}
							<div class="row d-lg-none">
								<div class="col-12">
									<div class="row">
										{% for image in books.image.all|slice:"1:" %}
										<div class="col-4 m-2">
											<a href="#" data-toggle="modal" data-target="#productGalleryModal">
												<img src="{{ image.url.url }}" class="img-fluid rounded thumb-img">
											</a>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endif %}




							<!-- Product Gallery Modal -->
							<div class="modal fade" id="productGalleryModal" tabindex="-1" role="dialog"
								aria-labelledby="productGalleryModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-xl"
									style="max-width:50vw; max-height:90vh" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<img height="100%" width="100%" src="" class="img-fluid rounded modal-img">
										</div>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>

						</div>



						<div class="col-lg-6 col-12">
							<div class="product__info__main">


								<!-- add to cart form -->
								<form action="{% url 'add_cart' books.id %}" method="POST">
									{% csrf_token %}
									<h1>{{books.title}}</h1>
									
									{% if books.stock > 0 %}
										<div class="product-info-stock-sku d-flex">
											<p>Availability:<span> In stock</span></p>
											
										</div>
									{% endif %}
									<div class="product-info-stock-sku d-flex">
										<p>Author:<span> {{books.author.first.name}}</span></p>
									</div>
									<div class="product-info-stock-sku d-flex">
										<p>Language:<span> {{books.language}}</span></p>
									</div>
									<div class="product-info-stock-sku d-flex">
										<p>Book Type:<span> {{books.book_type}}</span></p>
									</div>
									<div class="product-info-stock-sku d-flex">
										<p>Publishing Date:<span> {{books.publishing_date}}</span></p>
									</div>
									<div class="product-info-stock-sku d-flex">
										<p>Category<span> {{books.categories.first.name}}</span></p>
									</div>
										
									
									
									<div class="price-box">
										<strong class="text-primary">PAPERBACK</strong>
										<span>Rs. {{ books.price}}</span>
									</div>

									{% if books.book_variation.first.variation_type %}
									<div class="variation_price">
										<strong class="text-primary">E-BOOK</strong>
										<span>Rs. {{ books.book_variation.first.price}}</span>
									</div>


									<div class="product-color-label">
										<div class="color__attribute d-flex">
											<div class="">
												<span>Select Type</span>
												<select name="type" class="form-control" id="">
													<option value="" desabled selected>Choose a option</option>
													{% for variation in books.book_variation.all %}
													<option value="{{ variation.variation_type }}">
														{{variation.variation_type }}</option>
													{% endfor %}
												</select>
											</div>
										</div>

									</div>
									{% endif %}
									<div class="box-tocart d-flex">
										<span>Qty</span>
										<input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty"
											type="number">
										<div class="addtocart__actions">

											<button class="tocart">Add to Cart</button>
										</div>
									</div>
								</form>
								<!-- add to cart form end -->

								<div class="product-addto-links clearfix">
									<a class="wishlist" href="{% url 'add_to_wishlist' books.id %}"></a>
									<a class="compare" href="#"></a>
									<a class="email" href="#"></a>
								</div>
								<div class="product__overview">
									<p>{{books.description}}</p>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="product__info__detailed">
					<div class="pro_details_nav nav justify-content-start" role="tablist">
						<a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
						<a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
					</div>
					<div class="tab__container">
						<!-- Start Single Tab Content -->
						<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
							<div class="description__attribute">
								<p>{{books.description}}</p>

							</div>
						</div>
						<!-- End Single Tab Content -->
						<!-- Start Single Tab Content -->


						<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
							<h3>Customer Reviews</h3>

							{% for review in books.review.all %}

							<div class="review__attribute m-3">

								<h4>{{review.title}}</h4>
								<p>{{review.review_text}}</p>
								<b>Review by: {{review.user.first_name}}</b>

							</div>
							{% endfor %}

							{% if request.user.is_authenticated %}


							<form action="{% url 'book_review' books.id %}" method="POST">
								{% csrf_token %}
								<div class="review-fieldset col-6">
									<h2>Write Review</h2>
									<div class="review-field-ratings">
										<div class="product-review-table">
											<!-- <div class="review-field-rating d-flex">
											<span>Quality</span>
											<ul class="rating d-flex">
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
												<li class="off"><i class="zmdi zmdi-star"></i></li>
											</ul>
										</div> -->


										</div>
									</div>
									<div class="review_form_field">
										<div class="input__box">
											<span>Summary</span>
											{{form.title}}
										</div>
										<div class="input__box">
											<span>Review</span>
											{{form.review_text}}
										</div>
										<div class="review-form-actions">
											<button type='submit'>Submit Review</button>
										</div>
									</div>
								</div>
							</form>
							{% else %}
							<a href="">You must signin for write review</a>
							{% endif %}

						</div>
						<!-- End Single Tab Content -->
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<!-- End main Content -->

<script>
	$(document).ready(function () {
		// Set the main image as the first image in the list
		var mainImgSrc = $(".main-img").attr("src");
		$(".modal-img").attr("src", mainImgSrc);

		// Handle click events for thumbnail images
		$(".thumb-img").click(function (e) {
			e.preventDefault();
			var thumbImgSrc = $(this).attr("src");
			$(".modal-img").attr("src", thumbImgSrc);
		});

		// Reset the modal image to the main image when the modal is hidden
		$("#productGalleryModal").on("hidden.bs.modal", function () {
			$(".modal-img").attr("src", mainImgSrc);
		});
	});
</script>


{% endblock 'content' %}