<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Placed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 mt-5">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h4 class="card-title mb-0">Order Placed Successfully</h4>
                    </div>
                    <div class="card-body">
                        <p>Hi {{ customer_name }},</p>
                        <p>Thank you for placing your order with us. Your order has been received and is being
                            processed. The details of your order are as follows:</p>
                        
                        <p>We will notify you by email once your order has shipped. If you have any questions about your
                            order, please contact us at <a href="abbasalitmk@gmail.com">abbasalitmk@gmail.com"</a>.
                        </p>
                        <p>Thanks again for choosing our store. We appreciate your business!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>