{% extends 'theme.html' %}

{% block 'content' %}<!-- form card change password -->
<div class="row justify-content-center mb-5" style="margin-top: 20vh;">
    <div class="col-4">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Reset Password</h3>
                
                {% if messages %}
                    
                    {% for message in messages  %}
                        <p>{{message}}</p>
                    {% endfor %}
                        
                {% endif %}
                    
            </div>
            <div class="card-body">
                <form class="form" action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputPasswordOld">New Password</label>
                        <input type="password" name="password" class="form-control" id="inputPasswordOld" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNew">Confirm Password</label>
                        <input type="password" name='conf-password' class="form-control" id="inputPasswordNew" required="">
                        <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /form card change password -->
{% endblock 'content' %}