{% extends 'theme.html' %}

{% block 'content' %}
{% load static %}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shopping Cart</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Shopping Cart</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        
        
        {% if not cart_item %}
        <div class="text-center">
            <h2 class="mb-4">Your shopping cart is empty</h2>
            <a href="{% url 'books' %}" class="btn btn-primary text-center">Continue Shopping</a>
        </div>
        {% else %}
            
        <div class="row">
            <div class="col-md-8 col-sm-12 ol-lg-8">
                <form action="#">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                {% for items in cart_item  %}

                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img class="w-50" src="{{items.book.image.first.url.url}}"
                                                alt="product img"></a></td>
                                    <td class="product-name"><a href="#">{{items.book.title}}</a></td>
                                    <td class="product-price"><span class="amount">{{items.book.price}}</span></td>
                                    
                                    <td class="product-quantity"><a href="{% url 'add_cart' items.book.id %}"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a><span style="font-size: 1.3rem; padding: 2px; margin: 2px;">{{items.quantity}}</span><a href="{% url 'remove_cart' items.book.id %}"><i class="fa fa-minus-square fa-2x" aria-hidden="true"></i></a> </td>
                                    <td class="product-subtotal">{{items.sub_total}}</td>
                                    <td class="product-remove"><a href="{% url 'delete_cart_item' items.book.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                </tr>
                                {% endfor %}

                               
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="cartbox__btn">
                    <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                        <li><a href="#">Coupon Code</a></li>
                        <li><a href="#">Apply Code</a></li>
                        <li><a href="#">Update Cart</a></li>
                        <li><a href="#">Check Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ol-lg-4 ">
                <div class="cartbox__total__area">
                    <div class="cartbox-total d-flex justify-content-between">
                        <ul class="cart__total__list">
                            <li>Cart total</li>
                            <li>GST</li>
                            <li>Delivery Charge</li>
                        </ul>
                        <ul class="cart__total__tk">
                            <li>{{total}}</li>
                            <li>{{gst}}</li>
            
                            {% if delivery_charge == 0 %}
                            <li>Free</li>
                            {% else %}
                            <li>{{delivery_charge}}</li>
                            {% endif %}
            
                        </ul>
                    </div>
                    <div class="cart__total__amount">
                        <span>Grand Total</span>
                        <span>{{total}}</span>
                    </div>
                </div>
        </div>
        <div class="row">
            
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- cart-main-area end -->
{% endblock 'content' %}