{% extends 'theme.html' %}
{% block 'content' %}

<!-- Start Checkout Area -->
<section class="wn__checkout__area section-padding--lg bg__white" style="margin-top: 10vh;">
	<div class="container">
		<form action="{% url 'coupon' %}" method="GET">

			<div class="row">
				<div class="col-lg-12">

					<div class="wn_checkout_wrap">

						<div class="checkout_info">
							<span style="font-size: 1.2rem;">Have a coupon? </span>
							<a class="showcoupon" href="#">Click here to enter your code</a>
							{% if messages %}

							{% for message in messages %}

							<script>
								toastr["{{message.tags}}"]("{{message}}");
							</script>

							{% endfor %}

							{% endif %}
						</div>
						<div class="checkout_coupon">
							<div class="form__coupon">
								<input type="text" name='coupon-text' placeholder="Coupon code">
								<button type="submit">Apply coupon</button>
							</div>
						</div>
					</div>
				</div>
		</form>

	</div>


		<form action="{% url 'place_order' %}" method="POST">
			{% csrf_token %}
		<div class="row">
			<div class="col-lg-6 col-12">

				<div id="accordion" class="checkout_accordion" role="tablist">
					<div class="payment">
						<div class="che__header" role="tab" id="headingOne">
							<a class="checkout__title collapsed" data-toggle="collapse" href="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne">
								<span>Select Shipping Address</span>


							</a>
						</div>
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
							data-parent="#accordion">

							<div class="payment-body">
								<div class="form-check m-2">
									{% for address in addresses %}
									<input class="form-check-input" type="radio" name="address" id="address"
										value="{{address.id}}">
									<div class="card border-default mb-3" style="max-width: 40rem; max-height: 8rem;">
										<div class="card-body text-default">
											<p>{{address.address_line1}}</p>
											<p>{{address.address_line2}}</p>
											<p>{{address.city}}, {{address.pincode}}, {{address.state}}</p>
											<p>{{address.phone}}</p>
										</div>
									</div>
									{% endfor %}
								</div>
								<a class='btn btn-dark text-white' href=""><i class="fa fa-plus"></i> Add new
									address</a>

							</div>
						</div>
					</div>
					<div class="payment">
						<div class="che__header" role="tab" id="headingTwo">
							<a class="checkout__title collapsed" data-toggle="collapse" href="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo">
								<span>Select Payment Method</span>
							</a>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
							data-parent="#accordion" style="">
							<div class="payment-body">

								<div class="form-group m-2">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod"
											id="netbanking" value="razorpay">
										<label class="form-check-label" for="razorpay">
											Netbanking
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod" id="cod"
											value="cod">
										<label class="form-check-label" for="cod">
											Cash on Delivery
										</label>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="mt-5">
						<button type="submit" class="btn-lg btn btn-success" id="pay-now-button"><i class="fa fa-shop m-2"></i>Order
							Now</button>
						<button type="submit" class="btn-lg btn btn-info"><i class="fa fa-shopping-bag m-2"></i>Go to
							Cart</button>

					</div>

				</div>

			</div>

			<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
				<div class="wn__order__box">
					<h3 class="onder__title">Your order</h3>
					<ul class="order__total">
						<li>Product</li>
						<li>Total</li>
					</ul>
					<ul class="order_product">
						{% for items in cart_item %}

						<li class="text-danger">{{items.book.title}} ×
							{{items.quantity}}<span>

								{% if items.variation.get %}
								<span class="amount">{{items.variation.first.price}}</span>
								{% else %}
								<span class="amount">{{items.book.price}}</span>
								{% endif %}

							</span></li>
						<li class="text-muted">
							{% for variation_item in items.variation.all %}
							{{variation_item.variation_type}} <br />
							{% endfor %}

						</li>
						{% endfor %}

					</ul>
					<ul class="shipping__method">
						<li>Cart Subtotal <span>{{sub_total}}</span></li>
						<li>Shipping<span>{{delivery_charge}}</span></li>
					</ul>


					<ul class="shipping__method">
						<li>GST<span>{{gst}}</span></li>
					</ul>
					{% if coupon_discount %}

					<ul class="shipping__method">
						<li class="text-success"> Coupon Discount<span>₹{{coupon_discount}}</span></li>
					</ul>
					{% endif %}

					<ul class="total__amount">
						<li>Order Total <span>₹{{grand_total}}</span></li>
					</ul>

				</div>
				</div>
				</div>
				</form>

	<!-- <script>
		// Get the Pay Now button element
			$(document).ready(function () {
				$('#pay-now-button').click(function (e) { 
					const paymentMethod = $('input[name="paymentMethod"]:checked').val();
					if (paymentMethod === 'cod'){
						$.ajax({
							type: "POST",
							url: "",
							data: "data",
							dataType: "dataType",
							success: function (response) {
								alert('success')
							}
						});
					}

					
					
				});
			});
			

	</script> -->


</section>
<!-- End Checkout Area -->
{% endblock 'content' %}