{% extends 'theme.html' %}
{% block 'content' %}
<section class="section-conten padding-y bg" style="margin-top: 20vh;">
    <div class="container">
        <div class="row">
            {% include 'dashboard/dashboard-links.html' %}
            <main class="col-md-9">
                <header class="card-header mb-3">
                    <h5>Change Password</h5>
                </header>

                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <span class="help-block text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
               
            </main>
        </div>
    </div>

</section>

{% endblock 'content' %}