{% extends 'theme.html' %}
{% block 'content' %}<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="margin-top: 20vh;">
    <div class="container">
        <div class="row">
            {% include 'dashboard/dashboard-links.html' %}
            <main class="col-md-9">

                <div class="card card-1">
                    <div class="card-header bg-white">
                        <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                            <div class="col my-auto">
                                <h4 class="mb-0">Wishlist</h4>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                    {% if not books %}
                    <h5 class="text-center">Wishlist is empty</h5>
                    {% endif %}
                        {% for book in books %}
                        
                    
                      
                        <div class="row">
                            <div class="col">
                                <div class="card card-2">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="sq align-self-center ">

                                                {% with book.image.first as image %}
                                                <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                                    src="{{ image.url.url }}" width="50"  />
                                                {% endwith %}
                                            </div>
                                            <div class="media-body my-auto text-center">
                                                <div class="row  my-auto flex-column flex-md-row">
                                                    <div class="col-5 my-auto">
                                                        <h6 class="mb-0"> {{book.title}}</h6>
                                                    </div>
                                                    
                                                    
                                                    <div class="col my-auto">
                                                        <a href="{% url 'move_to_cart' book.id %}" class="btn btn-success text-white">Move to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                             
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
            </main>
        </div> <!-- row.// -->
    </div>
    <style>
        p {
            font-size: 14px;
            margin-bottom: 7px;

        }

        .small {
            letter-spacing: 0.5px !important;
        }


        hr {
            background-color: rgba(248, 248, 248, 0.667);
        }


        .bold {
            font-weight: 500;
        }

        .change-color {
            color: #AB47BC !important;
        }

        .card-2 {
            box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);

        }

        .fa-circle.active {
            font-size: 8px;
            color: #AB47BC;
        }

        .fa-circle {
            font-size: 8px;
            color: #aaa;
        }

        .rounded {
            border-radius: 2.25rem !important;
        }


        .progress-bar {
            background-color: #AB47BC !important;
        }


        .progress {
            height: 5px !important;
            margin-bottom: 0;
        }

        .invoice {
            position: relative;
            top: -70px;
        }

        .Glasses {
            position: relative;
            top: -12px !important;
        }

        .card-footer {
            background-color: #AB47BC;
            color: #fff;
        }

        h2 {
            color: rgb(78, 0, 92);
            letter-spacing: 2px !important;
        }

        .display-3 {
            font-weight: 500 !important;
        }

        @media (max-width: 479px) {
            .invoice {
                position: relative;
                top: 7px;
            }

            .border-line {
                border-right: 0px solid rgb(226, 206, 226) !important;
            }

        }

        @media (max-width: 700px) {

            h2 {
                color: rgb(78, 0, 92);
                font-size: 17px;
            }

            .display-3 {
                font-size: 28px;
                font-weight: 500 !important;
            }
        }

        .card-footer small {
            letter-spacing: 7px !important;
            font-size: 12px;
        }

        .border-line {
            border-right: 1px solid rgb(226, 206, 226)
        }
    </style>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock 'content' %}